<div class="funbox">
        <menu class="funbox-menu">
          <li data-target="birthday-box" class="birthday-menu-item active">Birthdays</li>
          <li data-target="cat-box" class="cat-menu-item">Cats</li>
          <li data-target="meme-box" class="meme-menu-item">Memes</li>
        </menu>
        <div id="birthday-box" class="box birthday-box active">
          <h3 class="title">Upcoming Birthdays</h3>
          <ul class="birthday-people"></ul>
        </div>
        <div id="cat-box" class="box cat-box"></div>
        <div id="meme-box" class="box meme-box"></div>
  </div>
